.ootp-map-label {
    position: absolute;
    top: 53px;
    left: -27px;
    width: 100px !important;
    white-space: normal;
    text-align: left;
    overflow: visible;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #213A8F;
    text-shadow: 0px 1px 0 rgb(255, 255, 255), 0px -1px 0 rgb(255, 255, 255), 1px 0px 0 rgb(255, 255, 255), -1px 0px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255), 0px 2px 0 rgb(255, 255, 255), 0px -2px 0 rgb(255, 255, 255), 2px 0px 0 rgb(255, 255, 255), -2px 0px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 2px -2px 0 rgb(255, 255, 255), -2px 2px 0 rgb(255, 255, 255), -2px -2px 0 rgb(255, 255, 255);
}