.faq {
    padding-bottom: 100px;

    &__title {
        margin-bottom: 70px;

        @media(max-width: $md3) {
            margin-bottom: 40px;
        }
    }
}

.cabinet-numbers.faq__wrapper {
    @media(max-width: $md3) {
        display: grid;
        grid-gap: 30px 20px;
    }

    @media(max-width: $md4) {
        display: block;
    }

    .cabinet-numbers__item:not(:last-child) {
        margin-bottom: 0;

        @media(max-width: $md4) {
            margin-bottom: 24px;
        }
    }
}