.favorites {
    #mCSB_1_contaier {
        margin-bottom: 0 !important;
    }

    .playbill__categoryes {
        margin-bottom: 0 !important;
    }

    &__header {
        margin-bottom: 40px;
    }
}