<div class="fixed-menu">
    <div class="fixed-menu__logo">
        <img src="img/icon/logo-menu.svg" alt="logo">
    </div>
    <div class="fixed-menu__wrapper">
        <button type="button" class="fixed-menu__link btn js-show-menu">
            <div class="fixed-menu__link-icon">
                <svg class="">
                    <use xlink:href="./img/icons/icons.svg#menu"></use>
                </svg>
            </div>
            <span class="menu-elem">Меню</span>
        </button>
        <a href="#" class="fixed-menu__link">
            <div class="fixed-menu__link-icon">
                <svg class="stroke-white">
                    <use xlink:href="./img/icons/icons.svg#user-square"></use>
                </svg>
            </div>
            <span class="menu-elem">Профиль</span>
        </a>
        <a href="#" class="fixed-menu__link">
            <div class="fixed-menu__link-icon">
                <svg class="stroke-white">
                    <use xlink:href="./img/icons/icons.svg#routing"></use>
                </svg>
            </div>

            <span class="menu-elem">Мои маршруты</span>
        </a>
        <div class="fixed-menu__line"></div>
        <a href="#" class="fixed-menu__link">
            <div class="fixed-menu__link-icon">
                <svg class="stroke-white">
                    <use xlink:href="./img/icons/icons.svg#arrow-square"></use>
                </svg>
            </div>

            <span class="menu-elem">Все маршруты</span>
        </a>
        <a href="#" class="fixed-menu__link">
            <div class="fixed-menu__link-icon">
                <svg class="stroke-white">
                    <use xlink:href="./img/icons/icons.svg#calendar"></use>
                </svg>
            </div>

            <span class="menu-elem">Афиша</span>
        </a>
        <a href="#" class="fixed-menu__link">
            <div class="fixed-menu__link-icon">
                <svg class="stroke-white">
                    <use xlink:href="./img/icons/icons.svg#shop"></use>
                </svg>
            </div>

            <span class="menu-elem">Магазин</span>
        </a>
    </div>
    <div class="fixed-menu__menu-block">
        <button type="button" class="fixed-menu__close btn">
            <img src="img/icon/close.svg" alt="">
        </button>
        <div class="fixed-menu__menu-header">
            <div class="fixed-menu__header-left">
                <div class="fixed-menu__header-logo logo">
                    <img src="img/Logo.svg" alt="Logo">
                </div>
                <button type="button" class="fixed-menu__header-location btn">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#location"></use>
                    </svg>
                    <span class="location-name">Санкт-Петербург</span>
                </button>
            </div>
        </div>
        <div class="header-menu__container container">
            <div class="fixed-menu__label">
                Меню</div>
            <div class="header-menu__wrapper">
                <div class="header-menu__col">
                    <div class="header-menu__label">О Ямале</div>
                    <ul class="header-menu__list">
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Город на полярном круге</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Полярный Урал ждет!</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Традиции народов Ямала</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Мамонтенок Люба</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">По следам 501 стройки</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">«Земля Надежды»</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Кто такие Сихиртя?</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">AuroraBorealis или Северное сияние</a>
                        </li>
                    </ul>
                </div>
                <div class="header-menu__col">
                    <div class="header-menu__label">Чем заняться</div>
                    <ul class="header-menu__list">
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Туры по Ямалу</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Достопримечательности</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Музеи</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Сувенирные лавки</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Мастера народных промыслов</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Горнолыжные трассы и комплексы</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Конференс-залы</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Этнографические парки</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Туроператоры</a>
                        </li>
                    </ul>
                </div>
                <div class="header-menu__col">
                    <div class="header-menu__label">Планирование поездки</div>
                    <ul class="header-menu__list">
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Как добраться</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Где остановиться</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Где поесть</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Когда лучше приезжать</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Гиды / экскурсоводы Ямала</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Полезная информация для туриста</a>
                        </li>
                    </ul>
                </div>
                <div class="header-menu__col">
                    <div class="header-menu__label">Туристические направления</div>
                    <ul class="header-menu__list">
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Этнографический туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Горный (пеший) туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Водный туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Экскурсионный туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Горнолыжный туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Событийный туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Экологический туризм</a>
                        </li>
                        <li class="header-menu__elem">
                            <a href="#" class="header-menu__link">Охота и рыбалка</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="location-menu location-menu--fixed">
            <div class="location-menu__search">
                <div class="location-menu__search-container container">
                    <button type="btn" class="location-menu__search-btn js-show-cities btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#global-edit"></use>
                        </svg>
                    </button>
                    <input type="text" class="location-menu__search-inp input-reset" disabled value="Санкт-Петербург">
                    <button type="btn" class="location-menu__search-btn js-hide-location btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#close"></use>
                        </svg>
                    </button>
                </div>
                <div class="location-menu__lists">
                    <div class="container location-menu__lists-container">
                        <div class="location-menu__lists-wrapper">
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">A</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Анадырь</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аргентина</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Азерот</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аврора</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">Б</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button"
                                            class="location-menu__category-btn btn">Барбаросса</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бакалавр</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">A</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Анадырь</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аргентина</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Азерот</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аврора</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">Б</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button"
                                            class="location-menu__category-btn btn">Барбаросса</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бакалавр</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">A</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Анадырь</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аргентина</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Азерот</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аврора</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">Б</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button"
                                            class="location-menu__category-btn btn">Барбаросса</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бакалавр</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">A</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Анадырь</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аргентина</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Азерот</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аврора</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">Б</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button"
                                            class="location-menu__category-btn btn">Барбаросса</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бакалавр</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">A</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Анадырь</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аргентина</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Азерот</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аврора</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">Б</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button"
                                            class="location-menu__category-btn btn">Барбаросса</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бакалавр</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">A</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Анадырь</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аргентина</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Азерот</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Аврора</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-menu__category">
                                <div class="location-menu__category-letter">Б</div>
                                <ul class="location-menu__category-list">
                                    <li class="location-menu__category-city">
                                        <button type="button"
                                            class="location-menu__category-btn btn">Барбаросса</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бакалавр</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                    <li class="location-menu__category-city">
                                        <button type="button" class="location-menu__category-btn btn">Бейбиленд</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>