<div id="new-pay" class="fixed-pay">
    <div class="fixed-filter__header">
        <div class="fixed-filter__label">
            Оплата
        </div>
        <button class="fixed-filter__close btn">
            <img src="img/icon/filter-close.svg" alt="">
        </button>
    </div>
    <div class="fixed-filter__body">
        <div class="fixed-pay__plan-items">
            <div class="fixed-pay__plan-item">
                <div class="fixed-pay__plan-inner">
                    <div class="fixed-pay__plan-img">
                        <img src="img/plan-photo.png" alt="">
                    </div>
                    <div class="fixed-pay__plan-descr">
                        <div class="descr-block__title">Музей Арктики</div>
                        <div class="descr-block__text">10:00 - 22:00 для регистрации</div>
                    </div>
                </div>
            </div>
            <div class="fixed-pay__plan-item">
                <div class="fixed-pay__plan-inner">
                    <div class="fixed-pay__plan-img">
                        <img src="img/plan-photo.png" alt="">
                    </div>
                    <div class="fixed-pay__plan-descr">
                        <div class="descr-block__title">Музей Арктики</div>
                        <div class="descr-block__text">10:00 - 22:00 для регистрации</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-pay__plan-form">
            <form id="fixed-pay__form" class="fixed-pay__form" action="#">
                <div class="fixed-pay__form-inputs">
                    <div class="costum-input__inner">
                        <div class="costum-input__label">Имя</div>
                        <div class="costum-input">
                            <input type="name" name="name" placeholder="Имя" required></input>
                            <div class="costum-input__icon">
                                <img src="img/icon/input-user.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="costum-input__inner">
                        <div class="costum-input__label">Почта</div>
                        <div class="costum-input">
                            <input type="email" name="email" placeholder="ex@mail.com" required></input>
                            <div class="costum-input__icon">
                                <img src="img/icon/input-email.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="costum-input__inner">
                        <div class="costum-input__label">Почта</div>
                        <div class="costum-input">
                            <input type="tel" name="phone" class="input-phone" placeholder="+7 000 000 00 00"
                                required></input>
                            <div class="costum-input__icon">
                                <img src="img/icon/call.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed-pay__form-checkboxes">
                    <div class="fixed-pay__form-checkbox">
                        <label class="control control-radio costum-radio">
                            Даю согласие на <a href="#" class="underline color-green">обработку персональных данных</a>
                            <input class="choosen-radio" name="personal-date" value="agree" type="checkbox" required
                                checked name="1" />
                            <div class="control_indicator"></div>
                        </label>
                    </div>
                    <div class="fixed-pay__form-checkbox">
                        <label class="control control-radio costum-radio">
                            Хочу получать маркетенговые предложения от сервиса
                            <input class="choosen-radio" name="proposal" value="want" type="checkbox" name="1" />
                            <div class="control_indicator"></div>
                        </label>
                    </div>
                </div>
                <div class="fixed-filter__btns">
                    <button id="fixed-pay__submit" type="submit" class="fixed-pay__btn buy-btn btn btn-green"
                        data-popup="#sucsess-pay">Оплатить</button>
                </div>
            </form>
        </div>
        <div class="build-plan__price price-block">
            <div class="price-block__inner">
                <div class="price-block__info">
                    <div class="price-block__title">Цена событий:</div>
                </div>
                <div class="price-block__price">74600₽</div>
            </div>
        </div>

    </div>
</div>
<div id="history-pay" class="fixed-pay ">
    <div class="fixed-filter__header">
        <div class="fixed-filter__label">
            История покупок
        </div>
        <button class="fixed-filter__close btn">
            <img src="img/icon/filter-close.svg" alt="">
        </button>
    </div>
    <div class="fixed-filter__body">
        <div class="fixed-pay__plan-items">
            <div class="build-plan__list-date build-list">
                <div class="build-list__date-label">
                    <span>24.11.2021</span>
                </div>
                <div class="build-list__date-inner">
                    <div class="fixed-pay__plan-item">
                        <div class="fixed-pay__plan-inner">
                            <div class="fixed-pay__plan-img">
                                <img src="img/plan-photo.png" alt="">
                            </div>
                            <div class="fixed-pay__plan-descr">
                                <div class="descr-block__title">Музей Арктики</div>
                                <div class="descr-block__text">10:00 - 22:00 для регистрации</div>
                            </div>
                        </div>
                    </div>
                    <div class="fixed-pay__plan-item">
                        <div class="fixed-pay__plan-inner">
                            <div class="fixed-pay__plan-img">
                                <img src="img/plan-photo.png" alt="">
                            </div>
                            <div class="fixed-pay__plan-descr">
                                <div class="descr-block__title">Музей Арктики</div>
                                <div class="descr-block__text">10:00 - 22:00 для регистрации</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="build-plan__list-date build-list">
                <div class="build-list__date-label">
                    <span>20.10.2020</span>
                </div>
                <div class="build-list__date-inner">
                    <div class="fixed-pay__plan-item">
                        <div class="fixed-pay__plan-inner">
                            <div class="fixed-pay__plan-img">
                                <img src="img/plan-photo.png" alt="">
                            </div>
                            <div class="fixed-pay__plan-descr">
                                <div class="descr-block__title">Музей Арктики</div>
                                <div class="descr-block__text">10:00 - 22:00 для регистрации</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-filter__btns">
                <button class="fixed-pay__btn btn btn-green">Показать еще</button>
            </div>
        </div>
    </div>
</div>