<div class="fixed-filter">
    <div class="fixed-filter__header">
        <div class="fixed-filter__label">
            Фильтр
        </div>
        <button class="fixed-filter__close btn">
            <img src="img/icon/filter-close.svg" alt="">
        </button>
    </div>
    <div class="fixed-filter__body">
        <div class="fixed-filter__items">
            <div class="fixed-filter__item filter-item">
                <div class="filter-item__header">
                    <span class="custom-select__current-elem">Город</span>
                </div>
                <div class="filter-item__body">
                    <div class="custom-select__search">
                        <input type="text" class="custom-select__input" placeholder="Поиск">
                        <button type="button" class="custom-select__search-btn btn">
                            <img src="img/icon/search.svg" alt="lope">
                        </button>
                    </div>
                    <div class="custom-select__categoryes">
                        <ul class="filter-item__body-list">
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Анадырь
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Аргентина
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fixed-filter__item filter-item">
                <div class="filter-item__header">
                    <span class="custom-select__current-elem">Средний чек</span>
                </div>
                <div class="filter-item__body">
                    <div class="custom-select__search">
                        <input type="text" class="custom-select__input" placeholder="Поиск">
                        <button type="button" class="custom-select__search-btn btn">
                            <img src="img/icon/search.svg" alt="lope">
                        </button>
                    </div>
                    <div class="custom-select__categoryes">
                        <ul class="filter-item__body-list">
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Анадырь
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Аргентина
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fixed-filter__item filter-item">
                <div class="filter-item__header">
                    <span class="custom-select__current-elem">Кухня</span>
                </div>
                <div class="filter-item__body">
                    <div class="custom-select__search">
                        <input type="text" class="custom-select__input" placeholder="Поиск">
                        <button type="button" class="custom-select__search-btn btn">
                            <img src="img/icon/search.svg" alt="lope">
                        </button>
                    </div>
                    <div class="custom-select__categoryes">
                        <ul class="filter-item__body-list">
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Анадырь
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Аргентина
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fixed-filter__item filter-item">
                <div class="filter-item__header">
                    <span class="custom-select__current-elem">Тип</span>
                </div>
                <div class="filter-item__body">
                    <div class="custom-select__search">
                        <input type="text" class="custom-select__input" placeholder="Поиск">
                        <button type="button" class="custom-select__search-btn btn">
                            <img src="img/icon/search.svg" alt="lope">
                        </button>
                    </div>
                    <div class="custom-select__categoryes">
                        <ul class="filter-item__body-list">
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Анадырь
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Аргентина
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Аргентина
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                            <li class="custom-select__category__elem">
                                <label class="control control-radio costum-radio">
                                    Азерот
                                    <input class="choosen-radio" value="city" type="checkbox" name="1" />
                                    <div class="control_indicator"></div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-filter__btns">
            <button class="fixed-filter__btn btn btn-green">Применить (<span>999</span>)</button>
            <button class="fixed-filter__btn btn btn-transparent">Сбросить</button>
        </div>
    </div>
</div>