<section class="gallery">
    <div class="container gallery__container">
        <div class="gallery__wrapper  ">
            <div class="gallery__slider swiper">
                <div class="swiper-wrapper ">
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-1.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-2.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-3.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-4.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-1.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-2.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-3.png" alt="фото из инсты">
                    </div>
                    <div class="gallery__slide swiper-slide">
                        <img src="img/gallery-4.png" alt="фото из инсты">
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
            <button type="button" class="slick-arrow gallery-arrow__prev btn">
                <svg class="">
                    <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                </svg>
            </button>
            <button type="button" class="slick-arrow gallery-arrow__next btn">
                <svg class="">
                    <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                </svg>
            </button>

        </div>
    </div>
</section>