<section class="photos">
    <div class="container photos__container">
        <div class="photos__wrapper photos__wrapper--scroll">
            <a href="#" class="photos__wrapper-item photo">
                <div class="photo__img">
                    <img src="img/photo-1.png" alt="Туры по Ямалу">
                </div>
                <div class="photo__descr">
                    <div class="descr-block__title">Туры по Ямалу</div>
                    <div class="descr-block__text">3524 позиций</div>
                </div>
            </a>
            <a href="#" class="photos__wrapper-item photo">
                <div class="photo__img">
                    <img src="img/photo-2.png" alt="Достопримечательности">
                </div>
                <div class="photo__descr">
                    <div class="descr-block__title">Достопримечательности</div>
                    <div class="descr-block__text">365 объектов</div>
                </div>
            </a>
            <a href="#" class="photos__wrapper-item photo">
                <div class="photo__img">
                    <img src="img/photo-3.png" alt="Этнографические парки">
                </div>
                <div class="photo__descr">
                    <div class="descr-block__title">Этнографические парки</div>
                    <div class="descr-block__text">580 территорий</div>
                </div>
            </a>
            <a href="#" class="photos__wrapper-item photo">
                <div class="photo__img">
                    <img src="img/photo-4.png" alt="Горнолыжные комплексы">
                </div>
                <div class="photo__descr">
                    <div class="descr-block__title">Горнолыжные комплексы</div>
                    <div class="descr-block__text">158 объектов</div>
                </div>
            </a>
        </div>
    </div>
</section>