<section class="playbill">
    <div class="playbill__container container">
        <div class="playbill__top">
            <div class="playbill__header">
                <h2 class="playbill__title section-title">Афиша Ямала</h2>
                <div class="playbill__select-city custom-select">
                    <div class="custom-select__header">
                        <div class="custom-select__arrow">
                            <img src="img/icon/select-arrow.svg" alt="">
                        </div>
                        <span class="custom-select__current-elem">Все города</span>
                    </div>
                    <div class="custom-select__body">
                        <div class="custom-select__search">
                            <input type="text" class="custom-select__input" placeholder="Поиск">
                            <button type="button" class="custom-select__search-btn btn">
                                <img src="img/icon/search.svg" alt="lope">
                            </button>
                        </div>
                        <div class="custom-select__categoryes">
                            <div class="custom-select__category">
                                <div class="custom-select__category-letter">
                                    <img src="img/icon/global.svg" alt="">
                                </div>
                                <ul class="custom-select__category-list">
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Все города
                                            <input class="choosen-radio" value="city" type="radio" name="1" checked />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="custom-select__category">
                                <div class="custom-select__category-letter">A</div>
                                <ul class="custom-select__category-list">
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Азерот
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Анадырь
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Аргентина
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Азерот
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="custom-select__category">
                                <div class="custom-select__category-letter">A</div>
                                <ul class="custom-select__category-list">
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Азерот
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Анадырь
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Аргентина
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                    <li class="custom-select__category__elem">
                                        <label class="control control-radio costum-radio">
                                            Азерот
                                            <input class="choosen-radio" value="city" type="radio" name="1" />
                                            <div class="control_indicator"></div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="playbill__categoryes">
                <button type="button" class="playbill-category btn current">Все</button>
                <button type="button" class="playbill-category btn">Праздник</button>
                <button type="button" class="playbill-category btn">Фестиваль</button>
                <button type="button" class="playbill-category btn">Кино</button>
                <button type="button" class="playbill-category btn">Театр</button>
                <button type="button" class="playbill-category btn">Концерт</button>
            </div>
        </div>
    </div>
    <div class="playbill-events">
        <div class="playbill__container container">
            <div class="playbill-events__inner">
                <div class="playbill-events__calendar">
                    <div class="playbill-events__calendar-slider">
                        <div class="playbill-events__calendar-inner swiper-wrapper">
                            <div class="playbill-events__calendar-slide swiper-slide">
                                <div class="playbill-events__calendar-mounth">Сентябрь</div>
                                <div class="playbill-events__calendar-wrapper">
                                    <div class="playbill-events__calendar-item hasEvent active">
                                        <span class="day">13</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item hasEvent">
                                        <span class="day">14</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">15</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item hasEvent">
                                        <span class="day">16</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">17</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item hasEvent">
                                        <span class="day">18</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item hasEvent">
                                        <span class="day">19</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">20</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">21</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">22</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item hasEvent">
                                        <span class="day">23</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item hasEvent">
                                        <span class="day">24</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">25</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">26</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">27</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">28</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">29</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">30</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                </div>
                            </div>
                            <div class="playbill-events__calendar-slide swiper-slide">
                                <div class="playbill-events__calendar-mounth">Октябрь</div>
                                <div class="playbill-events__calendar-wrapper">
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">1</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">14</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">15</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">16</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">17</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">18</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">19</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">20</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">21</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">22</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">23</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">24</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">25</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">26</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">27</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">28</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">29</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                    <div class="playbill-events__calendar-item">
                                        <span class="day">30</span>
                                        <span class="week-day">ПН</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="slick-arrow calendar-arrow__next btn">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="playbill__container--p0 playbill__container container">
            <div class="playbill-events__inner">
                <div class="playbill-events__inner-slider">
                    <div class="playbill-events__slider playbill-events__slider--event swiper">
                        <div class="swiper-wrapper">
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                            <a href="#" class="playbill-events__event swiper-slide">
                                <div class="playbill-events__event-img" data-status="Бесплатно">
                                    <img src="img/event-1.jpg" alt="">
                                </div>
                                <div class="playbill-events__event-descr">
                                    <div class="descr-block__title">День оленевода</div>
                                    <div class="descr-block__text">Праздник</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button type="button" class="slick-arrow event-arrow__next btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                        </svg>
                    </button>
                </div>
                <div class="playbill-events__inner-empty playbill-events__inner-empty empty-notification">
                    <div class="empty-notification__icon popup__icon"><img src="img/icon/sucsess-icon.svg"></div>
                    <div class="empty-notification__text popup__title">Нет запланированных событий на выбранную дату
                    </div>
                </div>
            </div>
            <div class="playbill-events__inner">
                <div class="playbill-events__slider playbill-events__slider--banner swiper">
                    <div class="swiper-wrapper">
                        <a href="#" class="banner-slide swiper-slide" data-status="Бесплатно"
                            style="background-image: url(img/banner.png);">
                            <div class="banner-slide__content">
                                <div class="banner-slide__title">В гоcтях
                                    у Сэр Ни</div>
                                <div class="banner-slide__date">1 ноября 12:00</div>
                                <div class="banner-slide__place">Этнографический парк «Кочевник»</div>
                            </div>
                        </a>
                        <a href="#" class="banner-slide swiper-slide" data-status="Бесплатно"
                            style="background-image: url(img/banner.png);">
                            <div class="banner-slide__content">
                                <div class="banner-slide__title">В гостях
                                    у Сэр Ни</div>
                                <div class="banner-slide__date">1 ноября 12:00</div>
                                <div class="banner-slide__place">Этнографический парк «Кочевник»</div>
                            </div>
                        </a>
                        <a href="#" class="banner-slide swiper-slide" data-status="Бесплатно"
                            style=" background-image: url(img/banner.png);">
                            <div class="banner-slide__content">
                                <div class="banner-slide__title">В гостях
                                    у Сэр Ни</div>
                                <div class="banner-slide__date">1 ноября 12:00</div>
                                <div class="banner-slide__place">Этнографический парк «Кочевник»</div>
                            </div>
                        </a>
                        <a href="#" class="banner-slide swiper-slide" data-status="Бесплатно"
                            style=" background-image: url(img/banner.png);">
                            <div class="banner-slide__content">
                                <div class="banner-slide__title">В гостях
                                    у Сэр Ни</div>
                                <div class="banner-slide__date">1 ноября 12:00</div>
                                <div class="banner-slide__place">Этнографический парк «Кочевник»</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <button type="button" class="slick-arrow banner-arrow__next btn">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</section>