<section class="questions">
    <div class="container">
        <h2 class="questions__title section-title">Популярные вопросы</h2>
        <div class="questions__wrapper">
            <div class="questions__wrapper-col">
                <div class="questions-item">
                    <div class="questions-item__header">На сколько холодно на Ямале?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
                <div class="questions-item">
                    <div class="questions-item__header">Какие вещи с собой стоит взять?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
                <div class="questions-item">
                    <div class="questions-item__header">А Ямал - это Россия?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
                <div class="questions-item">
                    <div class="questions-item__header">Хотим устроить фестиваль, куда писать?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
            </div>
            <div class="questions__wrapper-col">
                <div class="questions-item">
                    <div class="questions-item__header">Если я заболею, куда идти?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
                <div class="questions-item">
                    <div class="questions-item__header">На Ямале есть медведи?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
                <div class="questions-item">
                    <div class="questions-item__header">Можно искупаться в открытом море?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
                <div class="questions-item">
                    <div class="questions-item__header">Как преисполниться шаманизмом?</div>
                    <div class="questions-item__body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit et nemo ipsam cumque
                            provident ad nostrum doloremque natus, corrupti fugiat repellat iure aperiam necessitatibus
                            voluptatem assumenda possimus aliquam eligendi nihil.</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="questions__link btn btn-green">Все вопросы</a>
    </div>
</section>