<div class="quiz">
    <div class="container quiz__container">
        <div class="quiz__wrapper">
            <div class="quiz__questions-block">
                <div class="questions-block__title">Природа и приключения</div>
                <div class="questions-block__wrapper">
                    <button type="button" class="questions-block__answer btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#emoji-happy"></use>
                        </svg>

                        <span>Я — авантюрист</span>
                    </button>
                    <button type="button" class="questions-block__answer btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#emoji-normal"></use>
                        </svg>

                        <span>Очень интересно</span>
                    </button>
                    <button type="button" class="questions-block__answer btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#emoji-normal-1"></use>
                        </svg>

                        <span>Только популярные места</span>
                    </button>
                    <button type="button" class="questions-block__answer btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#emoji-medium"></use>
                        </svg>

                        <span>Стараюсь избегать</span>
                    </button>
                </div>
                <div class="questions-block__dott"></div>
            </div>
            <div class="quiz-routes">
                <h2 class="quiz-routes__title section-title" data-aos="fade-down" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">Рекомендованные машруты</h2>
                <div class="quiz-routes__text" data-aos="fade-up" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">Ответьте на несколько вопросов, чтобы с высокой точностью посоветовать
                    маршруты для путешествия по региону.</div>
                <div class="quiz-routes__progress">
                    <div class="quiz-routes__progress-item active ">
                        <div class="quiz-routes__progress-num">1</div>
                        <button type="button" class="quiz-routes__progress-btn btn btn-return" data-count="0">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#redo"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="quiz-routes__progress-item">
                        <div class="quiz-routes__progress-num">2</div>
                        <button type="button" class="quiz-routes__progress-btn btn btn-return" data-count="1">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#redo"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="quiz-routes__progress-item">
                        <div class="quiz-routes__progress-num">3</div>
                        <button type="button" class="quiz-routes__progress-btn btn btn-return" data-count="2">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#redo"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="quiz-routes__progress-item">
                        <div class="quiz-routes__progress-num">4</div>
                        <button type="button" class="quiz-routes__progress-btn btn btn-return" data-count="3">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#redo"></use>
                            </svg>
                        </button>
                    </div>
                    <!-- <div class="quiz-routes__progress-item">
                        <div class="quiz-routes__progress-num"><img src="img/icon/calendar.svg" alt="календарь"></div>
                        <button type="button" class="quiz-routes__progress-btn btn btn-return">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#redo"></use>
                            </svg>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container container-goods recomended-route">
        <div class="recomended-route__header">
            <h2 class="recomended-route__title section-title">Рекомендованные машруты</h2>
            <button id="repeatQuiz" type="button" class="recomended-route__btn btn btn-green">
                <svg class="">
                    <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                </svg>
                Пройти опрос заново
            </button>
        </div>
        <div class="photos__wrapper routes-wrapper swiper">
            <div class="swiper-wrapper">
                <a href="" class="catalog__wrapper-item card-item photo swiper-slide" data-status="Европейская">
                    <div class="card-item__img">
                        <img src="img/cards/card-restor_1.png" alt="Ресторан «Ямбург»">
                    </div>
                    <div class="card-item__footer">
                        <div class="card-item__name">Ресторан «Ямбург»</div>
                        <div class="card-item__price" data-price="3">
                            Ср. чек до 500₽
                        </div>
                    </div>
                </a><a href="" class="catalog__wrapper-item card-item photo swiper-slide" data-status="Европейская">
                    <div class="card-item__img">
                        <img src="img/cards/card-restor_1.png" alt="Ресторан «Ямбург»">
                    </div>
                    <div class="card-item__footer">
                        <div class="card-item__name">Ресторан «Ямбург»</div>
                        <div class="card-item__price" data-price="3">
                            Ср. чек до 500₽
                        </div>
                    </div>
                </a><a href="" class="catalog__wrapper-item card-item photo swiper-slide" data-status="Европейская">
                    <div class="card-item__img">
                        <img src="img/cards/card-restor_1.png" alt="Ресторан «Ямбург»">
                    </div>
                    <div class="card-item__footer">
                        <div class="card-item__name">Ресторан «Ямбург»</div>
                        <div class="card-item__price" data-price="3">
                            Ср. чек до 500₽
                        </div>
                    </div>
                </a><a href="" class="catalog__wrapper-item card-item photo swiper-slide" data-status="Европейская">
                    <div class="card-item__img">
                        <img src="img/cards/card-restor_1.png" alt="Ресторан «Ямбург»">
                    </div>
                    <div class="card-item__footer">
                        <div class="card-item__name">Ресторан «Ямбург»</div>
                        <div class="card-item__price" data-price="3">
                            Ср. чек до 500₽
                        </div>
                    </div>
                </a><a href="" class="catalog__wrapper-item card-item photo swiper-slide" data-status="Европейская">
                    <div class="card-item__img">
                        <img src="img/cards/card-restor_1.png" alt="Ресторан «Ямбург»">
                    </div>
                    <div class="card-item__footer">
                        <div class="card-item__name">Ресторан «Ямбург»</div>
                        <div class="card-item__price" data-price="3">
                            Ср. чек до 500₽
                        </div>
                    </div>
                </a><a href="" class="catalog__wrapper-item card-item photo swiper-slide" data-status="Европейская">
                    <div class="card-item__img">
                        <img src="img/cards/card-restor_1.png" alt="Ресторан «Ямбург»">
                    </div>
                    <div class="card-item__footer">
                        <div class="card-item__name">Ресторан «Ямбург»</div>
                        <div class="card-item__price" data-price="3">
                            Ср. чек до 500₽
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <button type="button" class="slick-arrow routes-arrow__next btn">
            <svg class="">
                <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
            </svg>
        </button>
    </div>
    <div class="quiz-individual">
        <div class="quiz-individual__wrapper">
            <div class="quiz-individual__left-icons">
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--first fly-icon" data-aos="fade-down"
                    data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                    <img src="img/icon/route-square.svg" alt="">
                </div>
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--second fly-icon" data-aos="fade-down"
                    data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                    <img src="img/icon/map.svg" alt="">
                </div>
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--thrid fly-icon" data-aos="fade-down"
                    data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <img src="img/icon/location.svg" alt="">
                </div>
            </div>
            <div class="quiz-individual__content">
                <div class="quiz-individual__title" data-aos="fade-down" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">Больше ничего не удивляет?</div>
                <div class="quiz-individual__text" data-aos="fade-up" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1500">Составьте свой индивидуальный маршрут по региону, а мы поможем
                    получить максимум от путешествия.</div>
                <button class="quiz-individual__btn btn btn-green" data-aos="fade-up" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">Индивидуальный маршрут</button>
            </div>
            <div class="quiz-individual__right-icons">
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--right-first fly-icon"
                    data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                    <img src="img/icon/routing.svg" alt="">
                </div>
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--right-second fly-icon"
                    data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                    <img src="img/icon/airplane.svg" alt="">
                </div>
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--right-thrid fly-icon"
                    data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <img src="img/icon/global.svg" alt="">
                </div>
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--right-fourth fly-icon"
                    data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="2500">
                    <img src="img/icon/location.svg" alt="">
                </div>
                <div class="quiz-individual__fly-icon quiz-individual__fly-icon--right-fifth fly-icon"
                    data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="3000">
                    <img src="img/icon/picture-frame.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>