<section class="quote">
    <div class="container quote__container">
        <div class="quote__wrapper">
            <div class="quote__content">
                <h2 class="quote__title section-title" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">
                    <span>— Если вы пришелец, почему говорите, как северянин?!</span>
                    <span>— У многих планет есть север</span>
                </h2>
                <div class="quote__copy" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
                    &#169; «Доктор Кто» (2005)
                </div>
                <div class="quote__text" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    Равным образом, структура организации требует анализа кластеризации усилий. Каждый из нас понимает
                    очевидную вещь: разбавленное изрядной долей эмпатии.
                </div>
                <button type="button" class="quote__about-btn btn btn-green">О Ямале</button>
            </div>
            <div class="quote__photos">
                <div class="quote__photos-descr quote__photos-descr--first descr-block rellax" data-rellax-speed="2">
                    <div class="descr-block__title">> 50 000</div>
                    <div class="descr-block__text">ручьев, озер и рек</div>
                </div>
                <div class="quote__photos-descr quote__photos-descr--second descr-block rellax" data-rellax-speed="3">
                    <div class="descr-block__title">2293 видов</div>
                    <div class="descr-block__text">животных и птиц</div>
                </div>
                <div class="quote__photos-photo quote__photos-photo--first" data-aos="fade-down"
                    data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <img src="img/north-photo_1.jpg" alt="Северный пейзаж">
                </div>
                <div class="quote__photos-photo quote__photos-photo--second" data-aos="fade-down"
                    data-aos-duration="1500" data-aos-easing="ease-out-cubic">
                    <picture>
                        <source srcset="img/mobile-north_1.jpg" media="(max-width: 568px)">
                        <source srcset="img/north-photo_2.jpg">
                        <img src="img/north-photo_2.jpg" alt="Северный пейзаж">
                    </picture>
                </div>
                <div class="quote__photos-photo quote__photos-photo--third" data-aos="fade-up" data-aos-duration="2000"
                    data-aos-easing="ease-out-cubic">
                    <img src="img/north-photo_3.jpg" alt="Северный пейзаж">
                </div>
                <div class="quote__photos-photo quote__photos-photo--fourth" data-aos="fade-up" data-aos-duration="2500"
                    data-aos-easing="ease-out-cubic">
                    <picture>
                        <source srcset="img/mobile-north_2.jpg" media="(max-width: 568px)">
                        <source srcset="img/north-photo_4.jpg">
                        <img src="img/north-photo_4.jpg" alt="Северный пейзаж">
                    </picture>
                </div>

            </div>
        </div>
    </div>
</section>