<section class="banner banner-sale">
    <div class="container banner__container">
        <div class="banner__wrapper">
            <div class="banner__content">
                <h2 class="banner__title section-title" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">Скидки в заведениях Ямала</h2>
                <div class="banner__text" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1500">Зарегистрируйтесь и получите электонную карту гостя, дающую скидку в
                    заведениях Ямало-Ненецкого АО.</div>
                <button class="banner__create-acc btn btn-green" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">Создать личный кабинет</button>
            </div>
            <div class="banner__photos">
                <div class="banner__photos-item photo-block rellax" data-rellax-speed="1">
                    <div class="photo-block__img">
                        <img src="img/photo_1.png" alt="Ресторан «Край земли»">
                    </div>
                    <div class="photo-block__descr">
                        <div class="photo-block__title descr-block__title">Ресторан «Край земли»</div>
                        <div class="photo-block__text descr-block__text">г. Салехард</div>
                    </div>
                </div>
                <div class="banner__photos-item photo-block rellax" data-rellax-speed="-2">
                    <div class="photo-block__img">
                        <img src="img/photo_2.png" alt="Музей истории Арктики">
                    </div>
                    <div class="photo-block__descr">
                        <div class="photo-block__title descr-block__title">Музей истории Арктики</div>
                        <div class="photo-block__text descr-block__text">г. Новый Уренгой</div>
                    </div>
                </div>
            </div>
            <div class="sale__photos-descr descr-block rellax" data-rellax-speed="3">
                <div class="descr-block__title">658 мест</div>
                <div class="descr-block__text">со скидкой для гостей</div>
            </div>
            <div class="banner__fly-icon banner__fly-icon--center fly-icon rellax" data-rellax-speed="-2">
                <img src="img/icon/receipt-disscount.svg" alt="">
            </div>
            <div class="banner__fly-icon banner__fly-icon--right fly-icon rellax" data-rellax-speed="4">
                <img src="img/icon/buy-crypto.svg" alt="">
            </div>
        </div>
    </div>
</section>