<section class="banner banner-visits">
    <div class="container banner__container">
        <div class="banner__wrapper">
            <div class="banner__content">
                <h2 class="banner__title section-title" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">Визит Ямал</h2>
                <div class="banner__text" data-aos="flip-right" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1300">Публикуем лучшие фотографии по хештегу
                    <a href="#" class="green">#visityamal</a> из Instagram</div>
                <button class="banner__create-acc btn btn-green" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1700">Перейти в Instagram</button>
            </div>
            <div class="banner__photos">
                <div class="banner__photos-item photo-block rellax" data-rellax-speed="1">
                    <div class="photo-block__img">
                        <img src="img/photo_4.png" alt="Ресторан «Край земли»">
                    </div>
                    <div class="photo-block__stat">
                        <div class="photo-block__likes">
                            <img src="img/icon/heart.svg" alt="">
                            <span>135</span>
                        </div>
                        <div class="photo-block__comments">
                            <img src="img/icon/messages.svg" alt="">
                            <span>3</span>
                        </div>
                    </div>
                </div>
                <div class="banner__photos-item photo-block rellax" data-rellax-speed="-1">
                    <div class="photo-block__img">
                        <img src="img/photo_3.png" alt="Музей истории Арктики">
                    </div>
                    <div class="photo-block__stat">
                        <div class="photo-block__likes">
                            <img src="img/icon/heart.svg" alt="">
                            <span>365</span>
                        </div>
                        <div class="photo-block__comments">
                            <img src="img/icon/messages.svg" alt="">
                            <span>55</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__fly-icon banner__fly-icon--top fly-icon rellax" data-rellax-speed="1">
                <img src="img/icon/bg-icon.png" alt="">
            </div>
            <div class="banner__fly-icon banner__fly-icon--top-center fly-icon rellax" data-rellax-speed="2">
                <img src="img/icon/sound.svg" alt="">
            </div>
            <div class="banner__fly-icon banner__fly-icon--center fly-icon rellax" data-rellax-speed="0">
                <img src="img/icon/video.svg" alt="">
            </div>
            <div class="banner__fly-icon banner__fly-icon--right fly-icon rellax" data-rellax-speed="1">
                <img src="img/icon/camera.svg" alt="">
            </div>
        </div>
    </div>
</section>