<section class="weather-block">
    <div class="container weather-block__container">
        <div class="weather-block__wrapper">
            <div class="weather-block__menu weather-menu">
                <div class="weather-menu__wrapper">
                    <a href="#" class="weather-menu__link" data-hover="Профиль">
                        <svg class="stroke-white">
                            <use xlink:href="./img/icons/icons.svg#user-square"></use>
                        </svg>
                    </a>
                    <a href="#" class="weather-menu__link" data-hover="Мои маршруты">
                        <svg class="stroke-white">
                            <use xlink:href="./img/icons/icons.svg#routing"></use>
                        </svg>
                    </a>
                    <div class="weather-menu__line"></div>
                    <a href="#" class="weather-menu__link" data-hover="Все маршруты">
                        <svg class="stroke-white">
                            <use xlink:href="./img/icons/icons.svg#arrow-square"></use>
                        </svg>
                    </a>
                    <a href="#" class="weather-menu__link" data-hover="Афиша">
                        <svg class="stroke-white">
                            <use xlink:href="./img/icons/icons.svg#calendar"></use>
                        </svg>
                    </a>
                    <a href="#" class="weather-menu__link" data-hover="Магазин">
                        <svg class="stroke-white">
                            <use xlink:href="./img/icons/icons.svg#shop"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="weather-block__content">
                <h2 class="weather-block__title section-title" data-aos="fade-down" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1000">Насладитесь
                    гармонией
                    арктики</h2>
                <p class="weather-block__text section-text" data-aos="fade-up" data-aos-easing="ease-out-cubic"
                    data-aos-duration="1500">Мы создали уникальную систему подбора маршрутов, которая
                    учитывает множество скрытых факторов,
                    чтобы насладиться отдыхом сполна.</p>
                <button class="weather-block__btn btn btn-green" data-aos="fade-up" data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">Пройти опрос</button>
            </div>
            <div class="weather-block__widjets widjets">
                <div class="widjets-item widjets-block widjets-weather">
                    <div class="widjets-block__header">
                        <div class="widjets-block__label">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#map-marker"></use>
                            </svg>
                            <span>Салехард</span>
                        </div>
                        <div class="widjets-block__time">19:16</div>
                    </div>
                    <div class="widjets-block__body widjets-block__body--flex">
                        <div class="widjets-weather__speed-wind">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#wind"></use>
                            </svg>
                            <span>4 м/с</span>
                        </div>
                        <div class="widjets-weather__temp">
                            <span>+13°C</span>
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#cloud-sunny"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="widjets-item northern-lights">
                    <div class="northern-lights__slider widjets-block  swiper">
                        <div class="swiper-wrapper">
                            <div class="northern-lights__slide  swiper-slide">
                                <div class="widjets-block__header">
                                    <div class="widjets-block__label">
                                        <svg class="">
                                            <use xlink:href="./img/icons/icons.svg#sound
                                        "></use>
                                        </svg>
                                        <span>Северное сияние</span>
                                    </div>
                                    <div class="widjets-block__time">15 сен.</div>
                                </div>
                                <div class="widjets-block__body">
                                    <div class="northern-lights__level">
                                        7 уровень
                                        <span class="northern-lights__level-small">из 10</span>
                                    </div>
                                </div>
                            </div>
                            <div class="northern-lights__slide  swiper-slide">
                                <div class="widjets-block__header">
                                    <div class="widjets-block__label">
                                        <svg class="">
                                            <use xlink:href="./img/icons/icons.svg#sound
                                        "></use>
                                        </svg>
                                        <span>Северное сияние</span>
                                    </div>
                                    <div class="widjets-block__time">15 сен.</div>
                                </div>
                                <div class="widjets-block__body">
                                    <div class="northern-lights__level">
                                        7 уровень
                                        <span class="northern-lights__level-small">из 10</span>
                                    </div>
                                </div>
                            </div>
                            <div class="northern-lights__slide  swiper-slide">
                                <div class="widjets-block__header">
                                    <div class="widjets-block__label">
                                        <svg class="">
                                            <use xlink:href="./img/icons/icons.svg#sound
                                        "></use>
                                        </svg>
                                        <span>Северное сияние</span>
                                    </div>
                                    <div class="widjets-block__time">15 сен.</div>
                                </div>
                                <div class="widjets-block__body">
                                    <div class="northern-lights__level">
                                        7 уровень
                                        <span class="northern-lights__level-small">из 10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="slick-arrow northern-lights-arrow__prev btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                        </svg>
                    </button>
                    <button type="button" class="slick-arrow northern-lights-arrow__next btn">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#arrow-slide"></use>
                        </svg>
                    </button>
                </div>
                <div class="widjets-item widjets-block attention">
                    <div class="attention__body">
                        <div class="attention__title">Обратите внимание!</div>
                        <div class="attention__text">В регионе есть территории, которые требуют специального прокуска
                            для нахождения там.</div>
                    </div>
                    <div class="attention__footer">
                        <div class="attention__footer-text">Пограничные зоны и особо охраняемые природные территории
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>